/** Typography**/
$bodyBG : #fff;
$newsSectionBG : rgba(36, 196, 244, 0.05);
$footer-color: #b9b9b9;
$footer-text-color: #aaaaaa;
$aColor: #525e66;
$aHoverColor : #20c4f4;
//$sectionInnerBorderColor : #e6e7e8;
$ironColor : #e6e7e8;
$link-water-color : #e2edf8;
$bright-torqoise : #20c4f4;
$shuttle-gray : #525e66;

/****Font variables***/
$myriadPro : 'Myriad Pro',sans-serif,arial;
$frutiger : 'Frutiger',sans-serif,arial;